@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

/* MARK - Home Page */

body {
  background-color: #fcfcfc;
}

a {
  color: #000000;
  text-decoration: none;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.logo {
  width: 234px;
  height: 30px;
  overflow: visible;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 10px;
  right: 1102px;
  left: 104px;
  bottom: 1722px;
  text-align: left;
}

.logo:hover {
  cursor: pointer;
}

.menu-items {
  width: 105px;
  height: 30px;
  overflow: visible;
  color: #808080;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 10px;
  bottom: 1772px;
  text-align: left;
}

#work {
  position: absolute;
  right: 389px;
  left: 987px;
  transition: 0.3s;
}

#work:hover {
  color: #000000;
  cursor: pointer;
}

#about {
  position: absolute;
  right: 258px;
  left: 1106px;
  transition: 0.3s;
}

#about:hover {
  color: #000000;
  cursor: pointer;
}

#resume {
  position: absolute;
  right: 105px;
  left: 1233px;
  transition: 0.3s;
}

#resume:hover {
  color: #000000;
  cursor: pointer;
}

#main-heading {
  width: 301px;
  height: 42px;
  overflow: visible;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 188px;
  right: 1035px;
  bottom: 1561px;
  left: 104px;
  text-align: left;
}

#sub-heading {
  width: 100%;
  height: 36px;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 241px;
  right: 659px;
  bottom: 1514px;
  left: 104px;
  text-align: left;
}

#current-role {
  width: 761px;
  height: 36px;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 288px;
  right: 577px;
  bottom: 1467px;
  left: 104px;
  text-align: left;
}

.typed-text {
  color: #0d63e3;
}
/*
#cursor {
  display: inline-block;
  width: 3px;
  background-color: blue;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: blue;
  }
  49% {
    background-color: blue;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: blue;
  }
} */

.card-container {
  margin-top: 380px;
}

.card-box {
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.card-overlay > * {
  transform: translateY(20px);
  transition: transform 0.35s;
}

.card-overlay:hover {
  opacity: 1;
}

.card-overlay:hover > * {
  transform: translateY(0);
}

.card {
  width: 596px;
  height: 388px;
  overflow: visible;
  border-radius: 10px;
}

.card-overlay-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -10px;
}

.card-overlay-desc {
  font-size: 15px;
  font-weight: 400;
}

#navigation {
  margin: 3px 3px 3px 3px;
}

/* Mark - Cover Pages */

.cover {
  width: 1231px;
  height: 731px;
  overflow: visible;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 330px;
  right: 100px;
  bottom: 1517px;
  left: 109px;
  will-change: opacity, transform, translateY, translateX;
}

.cover-title {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  position: absolute;
  top: 172px;
  bottom: 2358px;
  will-change: opacity, transform, translateY;
}

.cover-description {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 239px;
  bottom: 2303px;
  will-change: opacity, transform, translateY;
}

/* MARK - Product-Photos */

.product-container {
  margin-top: 1150px;
  position: absolute;
}

.product-box {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.product-photo {
  width: 1231px;
  height: 731px;
  overflow: visible;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-title {
  width: auto;
  height: auto;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* MARK - Mobile Web Section */

.mobile-web-box {
  display: inline;
}

.mobile-web-container {
  margin-top: 1150px;
  position: absolute;
}

.mobile-web-text {
  width: 550px;
  text-align: left;
}

.mobile-web-simulation {
  width: 309px;
  height: 672px;
}

#mb-type {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #5f5f5f;
}

#mb-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 5px;
  color: #000000;
}

#mb-info {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: #000000;
}

#mb-tools {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 5px;
  color: #000000;
}

/* MARK - About Page */

.about-text {
  width: 587px;
  height: 543px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.about-image {
  width: 415px;
  height: 545px;
}

/* MARK - Jor Page */

.jor-table {
  margin-top: 1150px;
  position: absolute;
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

.jor-process-text {
  color: #7fd559;
}

.jor-process-image {
  position: absolute;
  width: 534px;
  height: 678px;
}

.jor-second-table {
  margin-top: 3150px;
  position: absolute;
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

#jor-supply-chain {
  margin-top: 2%;
  width: 1103px;
  height: 621.64px;
}
