* {
  overflow: none;
}

/* MARK - Accordion */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  margin-left: 6.4%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fcfcfc;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: 1.5px;
  border-style: solid;
  outline: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  height: 70px;
  width: 350px;
  border-color: #191919ef;
  margin-bottom: 8px;
  transition: 0.3s ease-in;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #191919ef;
  color: #fcfcfc;
}

.accordion:active,
.active {
  width: 100%;
}

.accordion:active > #chevron {
  fill: #fcfcfc;
}

.accordion:hover > #chevron {
  fill: #fcfcfc;
}

.accordion:hover > .accordion__title {
  margin-left: 0.6%;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  text-align: left;
  transition: 0.2s ease-in;
  vertical-align: middle;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.5s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
  fill: #fcfcfc;
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: #fcfcfc;
  overflow-x: hidden;
  transition: max-height 0.5s ease;
  max-height: 0;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-size: 20px;
  padding: 18px;
}

/* MARK — Jor accordions */

#jor-content {
  text-align: left;
}

/* MARK — Media Queries */

/* Tablets Horizontal */

@media screen and (max-width: 2732px) {
  .accordion__title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    text-align: left;
    transition: 0.2s ease-in;
    vertical-align: middle;
    margin-top: 0px;
  }

  .accordion__icon {
    margin-left: auto;
    transition: transform 0.5s ease;
    margin-top: -22px;
  }
}

/* Tablets Vertical */
@media screen and (max-width: 1024px) {
}

/* Mobiles */
@media screen and (max-width: 480px) {
  /* Style the accordion section */
  .accordion__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #fcfcfc;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: 1.5px;
    border-style: solid;
    outline: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    height: 60px;
    width: 270px;
    border-color: #191919ef;
    margin-bottom: 8px;
    transition: 0.3s ease-in;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover,
  .active {
    background-color: #191919ef;
    color: #fcfcfc;
  }

  .accordion:active,
  .active {
    width: 100%;
  }

  .accordion:active > #chevron {
    fill: #fcfcfc;
  }

  .accordion:hover > #chevron {
    fill: #fcfcfc;
  }

  .accordion:hover > .accordion__title {
    margin-left: 0.6%;
  }

  /* Style the accordion content title */
  .accordion__title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    transition: 0.2s ease-in;
    vertical-align: middle;
    margin-top: -5px;
  }

  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-left: auto;
    transition: transform 0.5s ease;
    margin-top: -25px;
  }

  /* Style to rotate icon when state is active */
  .rotate {
    transform: rotate(90deg);
    fill: #fcfcfc;
  }

  /* Style the accordion content panel. Note: hidden by default */
  .accordion__content {
    background-color: #fcfcfc;
    overflow-x: hidden;
    transition: max-height 0.5s ease;
    max-height: 0;
  }

  /* Style the accordion content text */
  .accordion__text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 18px;
  }
}
