@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

/* MARK - Home Page */

body {
  background-color: #fcfcfc;
}

a {
  color: #000000;
  text-decoration: none;
}

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.logo {
  width: 25%;
  height: 5%;
  overflow: visible;
  color: #000000;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 1%;
  left: 7.4%;
  text-align: left;
  margin-right: 5%;
}

.logo:hover {
  cursor: pointer;
}

.menu-items {
  width: 30;
  height: 5%;
  overflow: visible;
  color: #808080;
  font-size: 25px;
  letter-spacing: 0%;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 1%;
  text-align: left;
}

#work {
  position: absolute;
  left: 68%;
  transition: 0.3s;
  margin-right: 1%;
}

#work:hover {
  color: #000000;
  cursor: pointer;
}

#about {
  position: absolute;
  left: 76%;
  transition: 0.3s;
  margin-right: 1%;
}

#about:hover {
  color: #000000;
  cursor: pointer;
}

#resume {
  position: absolute;
  left: 85%;
  transition: 0.3s;
  margin-right: 1%;
}

#resume:hover {
  color: #000000;
  cursor: pointer;
}

#main-heading {
  width: 80%;
  height: 5%;
  overflow: visible;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  top: 24%;
  left: 7.2%;
  text-align: left;
}

#sub-heading {
  width: 80%;
  height: 5%;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 350;
  font-style: normal;
  top: 31%;
  left: 7.2%;
  text-align: left;
}

#current-role {
  width: 80%;
  height: 5%;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 350;
  font-style: normal;
  top: 38%;
  left: 7.2%;
  text-align: left;
}

.typed-text {
  color: #0d63e3;
}
/*
#cursor {
  display: inline-block;
  width: 3px;
  background-color: blue;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    background-color: blue;
  }
  49% {
    background-color: blue;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: blue;
  }
} */

.info-container {
  margin-top: 15%;
  margin-bottom: 3%;
  margin-left: 6.8%;
}
.card-container {
  /*margin-top: 30%;*/
}

.card-box {
  position: relative;
  display: inline-block;
  margin: 1.5% 1.5% 1.5% 1.5%;
  width: 42%;
  height: 32%;
}

.card {
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 10px;
}

.card-overlay > * {
  transform: translateY(20px);
  transition: transform 0.35s;
}

.card-overlay:hover {
  opacity: 1;
}

.card-overlay:hover > * {
  transform: translateY(0);
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.card-overlay-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -10px;
}

.card-overlay-desc {
  font-size: 15px;
  font-weight: 400;
}

#navigation {
  margin: 3px 3px 3px 3px;
}

/* Mark - Cover Pages */

.cover {
  width: 88%;
  height: 98%;
  /*width: 1231px;
  height: 731px;*/
  overflow: visible;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* top: 330px;
  right: 100px;
  bottom: 1517px;
  left: 109px;*/
  top: 43%;
  left: 7%;
  will-change: opacity, transform, translateY, translateX;
  margin-bottom: 3%;
}

.cover-title {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 500;
  font-style: normal;
  top: 172px;
  bottom: 2358px;
  will-change: opacity, transform, translateY;
}

.cover-title-div {
  margin-bottom: 1%;
  margin-top: 15%;
}

.cover-description {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  top: 239px;
  bottom: 2303px;
  will-change: opacity, transform, translateY;
}

/* MARK - Product-Photos */

.product-container {
  position: absolute;
}

.product-box {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.product-photo {
  width: 1231px;
  height: 731px;
  overflow: visible;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-title {
  width: auto;
  height: auto;
  overflow: visible;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-style: normal;
}

/* MARK - Mobile Web Section */

.mobile-web-box {
  display: inline;
}

.mobile-web-container {
  margin-top: 1150px;
  position: absolute;
}

.mobile-web-text {
  width: 550px;
  text-align: left;
}

.mobile-web-simulation {
  width: 309px;
  height: 672px;
}

#mb-type {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  color: #5f5f5f;
}

#mb-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 5px;
  color: #000000;
}

#mb-info {
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  color: #000000;
  line-height: 37.5px;
}

#mb-tools {
  font-style: normal;
  font-weight: 250;
  font-size: 20px;
  line-height: 5px;
  color: #000000;
}

/* MARK - About Page */

.about-text {
  width: 587px;
  height: 543px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.about-image {
  width: 415px;
  height: 545px;
}

/* MARK - Jor Page */

.jor-table {
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

.jor-process-text {
  color: #7fd559;
}

#jor-accordion-spacing {
  margin-bottom: 1%;
}

#jor-image-table {
  margin-top: 3%;
}

#jor-process-img-th-one {
  width: 50%;
}

#jor-process-img-th-two {
  width: 50%;
  text-align: left;
}

#jor-process-image {
  width: 80%;
  height: 50%;
}

#jor-process-img-two {
  margin-top: 10%;
  vertical-align: middle;
  width: 80%;
  height: 50%;
}

.jor-first-table-div {
  margin-bottom: 0.2%;
}

.jor-second-table-div {
  margin-bottom: 1%;
}

.jor-second-table {
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

#jor-supply-chain {
  margin-top: 2%;
  width: 1103px;
  height: 621.64px;
}

.jor-third-table {
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
}

.jor-all-tables h2 {
  font-weight: 500;
  font-size: 35px;
}

#jor-solutions-span-one {
  font-weight: 600;
}

#jor-solutions-span-two {
  color: #7fd559;
  font-weight: 500;
}

/* MARK UOM Page */

/*.uom-table {
  margin-top: 1150px;
  position: absolute;
  text-align: left;
  width: 1231px;
  margin-left: 6.5%;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
}

.uom-all-tables h2 {
  font-weight: 600;
  font-size: 30px;
}

.uom-all-tables h3 {
  font-weight: 500;
  font-size: 25px;
}

.uom-all-tables h4 {
  font-weight: 400;
  font-size: 25px;
}*/

#project-goal-th {
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

#project-goal-img-th {
  width: 50%;
  height: 100%;
  vertical-align: top;
}
#project-goal-span {
  font-weight: 450;
}

#project-goal-img {
  width: 445px;
  height: 620px;
  margin-left: 19%;
  margin-top: 4.5%;
  border-radius: 8;
}

#project-goal-table {
  /*margin-top: 2000px;
  position: absolute;*/
  line-height: 37.5px;
}


#process-th-one {
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 350;
  width: 60%;
  height: 100%;
  vertical-align: top;
}

#process-img-th {
  width: 40%;
  height: 100%;
  vertical-align: top;
}

#process-span-one {
  font-weight: 600;
  font-size: 22px;
}

#process-img-one {
  width: 362px;
  height: 542px;
  margin-top: 7%;
  margin-left: 19%;
  border-radius: 8;
}

#process-table-one {
  /*margin-top: 2000px;
  position: absolute;*/
  line-height: 37.5px;
  margin-bottom: 2%;
}

#process-accordion h3 {
  font-weight: 600;
  font-size: 22px;
}

#process-accordion h4 {
  font-weight: 500;
  font-size: 20px;
}
/* MARK - My role */

#my-role-div span {
  font-weight: 450;
}

/* MARK - Stakeholder interviews */

#stakeholder-table {
  width: 1231px;
  font-weight: 350;
  font-size: 20px;
  line-height: 37.5px;
}

#stakeholder-column-div {
  margin-top: 3%;
  text-align: left;
}

#stakeholder-column-div-two {
  text-align: left;
}

/*MARK - Requirements section */

#process-requirements-img {
  width: 100%;
  height: 736px;
  margin-top: 3%;
  border-radius: 8;
}

#process-requirements-span {
  font-weight: 600;
  font-size: 22px;
}

#process-requirements-span-two {
  font-weight: 450;
  font-size: 20px;
}

/* MARK - Ideation section */

#process-ideation-img {
  width: 1185px;
  height: 736px;
  margin-top: 1%;
  border-radius: 8;
}

#process-ideation-span {
  font-weight: 600;
  font-size: 22px;
}

#process-ideation-section {
  margin-top: 4%;
}

/*MARK - Requirements section */

#process-requirements-img {
  width: 1185px;
  height: 736px;
  margin-top: 3%;
  border-radius: 8;
}

#process-requirements-span {
  font-weight: 600;
  font-size: 22px;
}

#process-requirements-span-two {
  font-weight: 450;
  font-size: 20px;
}

/* MARK - Iterations section */

#process-iterations-img {
  width: 1099px;
  height: 1754px;
  margin-top: 1%;
}

#process-iterations-span {
  font-weight: 600;
  font-size: 22px;
}

#process-iterations-section {
  margin-top: 4%;
}

/* MARK - Tech challenges section */

#process-techchallenges-span {
  font-weight: 600;
  font-size: 22px;
}
#process-techchallenges-span-two {
  font-weight: 450;
  font-size: 20px;
}

#process-techchallenges-section {
  margin-top: 4%;
}

/* MARK - Snapshorts section */

#process-snapshots-span {
  font-weight: 600;
  font-size: 22px;
}

#process-snapshots-section {
  margin-top: 4%;
}

#process-snapshots-img {
  width: 1051px;
  height: 1323px;
  margin-top: 4%;
  margin-left: 7%;
}

/* MARK — Media Queries */

/* Tablets */
@media screen and (max-width: 1023px) {
}

/* Mobiles */
@media screen and (max-width: 480px) {
}
